    torch>=2.2.0
transformers>=4.46.0
accelerate>=0.34.0
optimum[onnxruntime]>=1.21.0
onnxruntime>=1.18.0
sentencepiece
sentence-transformers>=3.0.0
faiss-cpu
datasets
numpy
pandas
matplotlib
seaborn
tqdm
psutil
tokenizers
scikit-learn
optimum-intel[openvino]>=1.18.0
